<div id="board">
  <div class="container">
    <div class="row">
      <h3 class="main-title">Board</h3>
    </div>
    <div class="row">
        <div class="col-md-6 board-box">
          <h4>GitHub Statistics</h4>
          <iframe
            width="600"
            height="600"
            src="https://ionicabizau.github.io/github-profile-languages/api.html?DanielCreeklear"
            frameborder="0"
          ></iframe>
        </div>
        <div class="col-md-4 board-box">
          <h4>Steam and Xbox Profile</h4>
          <a href="https://www.exophase.com/steam/user/creeklear/">
            <img class="w-100" src="https://card.exophase.com/1/1978535.png" />
          </a>
        </div>
    </div>
  </div>
</div>
