/* General */
body {
    background-color: #2f3559;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

/* Header */
header h1 {
    background-color: #444;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 70px 0;
    text-align: center;
    color: #FFF;
}

/* Navigation Bar */
header, .navbar {
    background-color: #444;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
}