/* General */
body {
    background-color: #2f3559;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
    font-weight: bold;
}

/* Header */
header h1 {
    background-color: #444;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 70px 0;
    text-align: center;
    color: #FFF;
}

/* Navigation Bar */
header, .navbar {
    background-color: #444;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */
.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider, .carousel-item {
    height: 90vh;
    background-color: #000000;
}

#mainSlider img {
    opacity: 0.5;
    transition: opacity 1s;
}

#mainSlider:hover img {
    opacity: 1;
}

#mainSlider:hover h2 {
    opacity: 0;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 100px;
    color: #FFF;
    text-shadow: 0px 3px 3px #000000;
    transition: opacity 0.5s;
}

.main-btn {
    background-color: #444;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    -webkit-box-shadow: 0px 3px 6px -1px #000000; 
    box-shadow: 0px 3px 6px -1px #000000;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #6d756a;
}

/* About me */

#about-me {
    background-color: #F9F9F9;
}

#about-me img {
    border-radius: 30px;
}

.main-title {
    color: #2f3559;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.about-title {
    color: #2f3559;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Board */
#board {
    background-color: #F9F9F9;
    border-top: 30px solid #2f3559;
}

.board-box {
    text-align: center;
    margin-bottom: 50px;
}

.board-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}