.menu {
    position: fixed;
    display: flex;
    right: 10px;
    bottom: 10px;
}

.btReturn {
    box-shadow:inset 0px 1px 0px 0px #322b4b;
	background:linear-gradient(to bottom, #120835 5%, #050016 100%);
	background-color:#120835;
	border-radius:6px;
	border:1px solid #25126b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}

.btReturn:hover {
	background:linear-gradient(to bottom, #281b52 5%, #120835 100%);
	background-color:#0d0622;
}
.btReturn:active {
	position:relative;
	top:1px;
}