body {
    background-color: #2f3559;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
p {
    text-align: justify;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color:#ffffff;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 230px;
    height: 100%;
    background: rgb(32, 18, 58);
    border-right: 5px solid #050016;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.76); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.76);
}

.sidebar header {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-style: oblique;
    font-family: 'Roboto', sans-serif;
    line-height: 70px;
    background: #050016;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 14px;
    border-bottom: 3px solid #050016;
    border-left: 3px solid #050016;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 20px;
    box-sizing: border-box;
    transition: .4s;
    -webkit-box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.21); 
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.21);
}

ul li:hover a {
    padding-left: 30px;
}

figure.profile-picture {
    position: relative;
    margin-left: 0;
    width: 230px;
    height: 230px;
}

figure.profile-picture img {
    width: 100%;
    height: 100%;
}

figure.profile-picture figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.profile-picture figcaption .icon {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px auto 10px auto;
}

figure.profile-picture:hover figcaption {
    opacity: 1;
}

#resume {
    padding: 10px;
    margin-left: 230px;
    height: 100%;
}

h2.title {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    border: 5px solid #050016;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #050016;
    -webkit-box-shadow: 0px 15px 15px 1px rgba(0,0,0,0.27); 
    box-shadow: 0px 15px 15px 1px rgba(0,0,0,0.27);
    user-select: none;
}

.timeline {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #ffffff;
    margin-top: 20px;
}

.year {
    display: flex;
}

.year h1 {
    border-right: 2px solid #ffffff;
    padding: 5px;
    margin: 10px;
    user-select: none;
}

.experience {
    background-color: #050016;
    padding: 5px;
    margin: 13px;
    width: 600px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 16px -2px rgba(0,0,0,0.84); 
    box-shadow: 0px 10px 16px -2px rgba(0,0,0,0.84);
    transition: .5s;
}

.experience:hover {
    border: 10px solid #ffffff;
}

.experience:hover .tasks {
    display: block;
}

.experience h2 {
    padding: 0px;
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
}

.experience .details-experience {
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 0px;
    align-items: center;
}

.experience .details-experience h3 {
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 50px;
}

.tasks {
    display: none;
    transition: .5s;
}

#professional {
    display: flex;
    width: 100%;
}

.qualifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}

.badge {
    display: flex;
    flex-direction: column;
    background-color: #050016;
    width: 70px;
    height: 70px;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 10px;
    transition: .4s;
    text-align: center;
}

.badge img {
    width: 30px;
    height: 30px;
    transition: .2s;
}


.badge:hover {
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    font-size: 12px;
    text-shadow: 0px 3px 2px #000000;
}

.badge:hover img {
    width: 80px;
    height: 80px;
}