<main>
  <div class="container-fluid resume">
    <div class="row">
      <div class="col-md-6">
        <h2>Professional Experience</h2>
        <div class="row">
          <div class="col-md-2 period">
            <h3>2022</h3>
          </div>
          <div class="col-md-10">
            <div class="row">
              <app-resume-card
                title="Itaú Unibanco"
                subtitle="Process engineering intern"
                period="Feb. 2022 – Present"
                description="Collaboration with the Scrum team for Sprints success Preparation of documents for process automation Daily monitoring of automations in production through Splunk"
              ></app-resume-card>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 period">
            <h3>2021</h3>
          </div>
          <div class="col-md-10">
            <div class="row">
              <app-resume-card
                title="FolhaCerta"
                subtitle="Software QA Analyst"
                period="Nov. 2021 – Feb. 2022"
                link="https://folhacerta.com/"
                description="Development and execution of test cases Preparation of test plans Preparation of automated test scripts using Postman or Python Report new bugs found in Azure Boards Collaboration with the Scrum team for the success of Sprints Execution of exploratory tests"
              ></app-resume-card>
            </div>
            <div class="row">
              <app-resume-card
                title="FolhaCerta"
                subtitle="Software QA Intern"
                period="Jan. 2021 – Nov. 2021"
                link="https://folhacerta.com/"
                description="Development and execution of test cases Report new bugs found through Azure Boards Participation in the daily Scrum Execution of exploratory tests"
              ></app-resume-card>
            </div>
            <div class="row">
              <app-resume-card
                title="Secretaria da Educação do Estado de São Paulo"
                subtitle="School Organization Agent"
                period="Oct. 2019 – Jan. 2021"
                link="https://www.educacao.sp.gov.br/"
                description="Organization of the school calendar Administrative support in the secretariat and board School organization activities Guidance of students regarding the norms of behavior Contribute to the integration between school and community External and internal service Update of registration files Reporting of occurrences Control of the movement of students"
              ></app-resume-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Education</h2>
        <div class="row">
          <div class="col-md-2 period">
            <h3>2020</h3>
          </div>
          <div class="col-md-10">
            <div class="row">
              <app-resume-card
                title="Universidade Federal do ABC"
                subtitle="Bachelor of Computer Science"
                period="Jun. 2020 – Present"
              ></app-resume-card>
            </div>
            <div class="row">
              <app-resume-card
                title="Universidade Federal do ABC"
                subtitle="Interdisciplinary Bachelor of Science and Technology"
                period="Jun. 2020 – Present"
              ></app-resume-card>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 period">
            <h3>2017</h3>
          </div>
          <div class="col-md-10">
            <div class="row">
              <app-resume-card
                title="ETEC Martin Luther King"
                subtitle="Técnico em Mecatrônica"
                period="Jun. 2017 – Jun. 2019"
              ></app-resume-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <h2>Skills</h2>
        </div>
        <div class="row row-cols-4">
          <app-resume-badge
            image="https://seeklogo.com/images/C/c-logo-672525892C-seeklogo.com.png"
            link="https://docs.microsoft.com/pt-br/cpp/c-language/?view=msvc-170"
          ></app-resume-badge>
          <app-resume-badge
            image="https://cdn.worldvectorlogo.com/logos/c.svg"
            link="https://www.cplusplus.com/doc/"
          ></app-resume-badge>
          <app-resume-badge
            image="https://cdn.worldvectorlogo.com/logos/c--4.svg"
            link="https://docs.microsoft.com/pt-br/dotnet/csharp/"
          ></app-resume-badge>
          <app-resume-badge
            image="https://cdn.worldvectorlogo.com/logos/php-1.svg"
            link="https://www.php.net/docs.php"
          ></app-resume-badge>
          <app-resume-badge
            image="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
            link="https://www.python.org"
          ></app-resume-badge>
          <app-resume-badge
            image="https://www.vectorlogo.zone/logos/microsoft_vb/microsoft_vb-image.svg"
            link="https://docs.microsoft.com/pt-br/office/vba/api/overview/"
          ></app-resume-badge>
          <app-resume-badge
            image="https://docs.pytest.org/en/7.0.x/_static/pytest_logo_curves.svg"
            link="https://docs.pytest.org/en/6.2.x/contents.html"
          ></app-resume-badge>
          <app-resume-badge
            image="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg"
            link="https://pandas.pydata.org/docs/"
          ></app-resume-badge>
          <app-resume-badge
            image="https://image-library.com/images/image-testing/image-testing-22.jpg"
            link="https://en.wikipedia.org/wiki/Software_testing"
          ></app-resume-badge>
          <app-resume-badge
            image="https://seeklogo.com/images/S/selenium-logo-A1B53CEFB0-seeklogo.com.png"
            link="https://www.selenium.dev/documentation/"
          ></app-resume-badge>
          <app-resume-badge
            image="https://www.vectorlogo.zone/logos/git-scm/git-scm-image.svg"
            link=""
          ></app-resume-badge>
          <app-resume-badge
            image="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"
            link="https://www.w3schools.com/TAGS/default.ASP"
          ></app-resume-badge>
          <app-resume-badge
            image="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"
            link="https://www.w3schools.com/cssref/"
          ></app-resume-badge>
          <app-resume-badge
            image="https://www.vectorlogo.zone/logos/getpostman/getpostman-image.svg"
            link="https://learning.postman.com/docs/getting-started/introduction/"
          ></app-resume-badge>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <h2>Achievements</h2>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <app-resume-post
              image="https://www.cp2centro.net/wp-content/uploads/2021/07/OBI-2021.png"
              text="In 2021, I participated in the Brazilian Informatics Olympiad, in the senior programmer category (university). Reaching stage 3, national stage, obtaining the 88th place among 1512 participants in the category."
            ></app-resume-post>
          </div>
          <div class="row">
            <app-resume-post
              image=""
              text="I played as a soloist the 1st and 2nd movements of the Concerto for Flute and Orchestra by Edmundo Villani Cortes."
            ></app-resume-post>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
