* {
    background-color: #F9F9F9;
}

img {
    border-radius: 50px;
}

.text {
    /*max-height: 280px;*/
    overflow: scroll;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

.text::-webkit-scrollbar {
    display: none;
}

.main-title {
    color: #2f3559;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.about-title {
    color: #2f3559;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: justify;
}
