<div class="collapse navbar-collapse justify-content-end" id="navbar-links">
    <div class="navbar-nav">
        <a class="nav-item nav-link" id="home-menu" routerLink="/">Home</a>
        <a class="nav-item nav-link" id="projects-menu" routerLink="/projects">My projects</a>
        <a class="nav-item nav-link" id="resume-menu" routerLink="/resume">My resume</a>
        <a class="nav-item nav-link" id="curiosities-menu" routerLink="/curiosities">My curiosities</a>
        <a class="nav-item nav-link" id="contacts-menu" routerLink="/contacts">Contacts</a>
</div>